<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <%- include('header') %>

    <div class="container my-5 about">
        <h1>About ProtectU</h1><hr>
        <p><strong>Who are we?</strong></p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquid sed dolores dolorum accusamus labore laboriosam eos quod. Voluptatibus, error, magnam tempora unde pariatur porro ipsum non repudiandae, veniam officiis repellat asperiores nisi minima rerum consequatur. Cum magni neque esse tempore quos? Unde dolore laboriosam adipisci sapiente assumenda reiciendis excepturi odio quod. Accusantium expedita, at laborum pariatur quisquam suscipit cum.</p>
        <p> <strong>Our Mission:</strong></p>
        <p>ProtectU aims to make cities safer by encouraging equal access to public spaces for every single women, through the use of technology.</p>
        <p><strong>Our main objective is to:</strong></p>
        <p><ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum et saepe iure quasi suscipit dicta sapiente corporis est ut voluptates excepturi repellat necessitatibus officia, accusantium repudiandae deleniti, cum impedit sed vitae facere praesentium similique molestiae. Omnis hic dolores quisquam.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique itaque qui voluptatem magni. Non, quod! Placeat quia quisquam ipsam id!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo est incidunt ipsum at praesentium modi! Doloribus officiis a eveniet reprehenderit corporis consequatur esse eligendi soluta corrupti nulla. Cumque, adipisci esse?</li>
        </ul></p>
    </div>
    
    <%- include('footer') %>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/619cf0717e.js" crossorigin="anonymous"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let addActive = document.getElementById('about');
        addActive.classList.add('active'); 
    });
</script>

</body>
</html>