<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer class="bg-dark">
        <div class="container">
            <div class="row pt-5 d-flex">
                <div class="col-md-3 title">
                    <h1>ProtectU</h1>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; height:2px; background-color:#7a14c9">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae ut molestias consequatur
                        dolores soluta? Dicta quia nemo natus porro at.</p>
                </div>
                <div class="col-md-3">
                    <h3>Useful Links</h3>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; height:2px; background-color:#7a14c9">
                    <p><a href="" class="text-decoration-none" style="color:#fff">Self-Defence</a></p>
                    <p><a href="" class="text-decoration-none" style="color:#fff">About</a></p>
                    <p><a href="" class="text-decoration-none" style="color:#fff">Feedback</a></p>
                    <p><a href="" class="text-decoration-none" style="color:#fff">Login</a></p>
                </div>
                <div class="col-md-3">
                    <h3>Contact</h3>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; height:2px; background-color:#7a14c9">
                    <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <div class="col-md-3">
                    <h3>Follow Us</h3>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; height:2px; background-color:#7a14c9">
                    <div class="">
                        <a href="" class="btn ml-3 " style="background-color:#3b5998; border-radius:30px;"> <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="btn ml-3 " style="background-color:#00acee"> <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="btn ml-3" style="background-color:#dd2a7b"> <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="btn ml-3" style="background-color:#d44638"> <i class="far fa-envelope"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <hr>
                    <p style="color:#000">© Copyright all rights reserved:<a class="text-decoration-none ml-2"
                            href="">ProtectU</a> Developed By - Akshay Adme</p>

                </div>
            </div>
        </div>
    </footer>

</body>
</html>